h1 {
    font-size: 2.5rem;
    font-weight: 300;
    text-align: center;
}

img{
    max-width: 100%;
    height: auto;
    margin: 0 auto;
    display: block;
}

body{
    background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRwtYdausQC8dGWl--_UBqhYa8BSkSJFWDfE0VyLgBA&s);
    background-repeat: no-repeat;
    background-size: cover;
}